[Desktop Entry]
Name=Spelunky 2
Comment=Play this game on Steam
Exec=steam steam://rungameid/418530 -silent
Icon=steam_icon_418530
Terminal=false
Type=Application
Categories=Game;
